.footer {
	background: var(--g-1, #f7f7fa);
	display: flex;
	padding: 28px 0px 104px 0px;
	flex-direction: column;
}
.footer__top-title.title {
	margin-bottom: 8px;
}
.footer__top-subtitle {
	color: var(--b-2, #444952);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
.footer__top-image {
	width: 95.78px;
	height: 95.78px;
}
.footer__top .col-12:not(:first-child) {
	margin-top: 20px;
}
.footer .big__input {
	padding: 11px 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	border-radius: 99px 0 0 99px;
}
.footer .button-big {
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	padding: 11px 16px;
}
.footer .form-group {
	margin-bottom: 16px;
}
.footer__policy {
	color: var(--b-3, #78808f);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.footer__policy-link {
	color: var(--b-2, #444952);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.footer__link {
	pointer-events: none;
}
.is-active .footer__link {
	pointer-events: all;
}
.footer__items {
	display: flex;
	flex-direction: column;
}

.footer__title {
	color: var(--b-1, #000);
	font-family: Roboto Flex;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer .js-accardion {
	padding-top: 10px;
}
.footer__policy__bottom {
	margin-top: 16px;
}
.footer__link {
	color: var(--b-2, #444952);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 8px;
}
.footer__middle {
	margin: 32px 0;
}
.socials {
	margin-top: 16px;
}
.footer__text {
	color: var(--b-3, #78808f);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
.socials__link:not(:last-child) {
	margin-right: 6px;
}
.footer__number {
	color: var(--b-1, #000);
	font-size: 20px;
	font-weight: 600;
	line-height: 24px; /* 120% */
	letter-spacing: -0.4px;
	margin-top: 32px;
}
